header{
    position: fixed;
    
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid color-mix(in oklab, var(--calcario) 10%, transparent);
    background-color: color-mix(in oklab, var(--breu) 70%, transparent);
    backdrop-filter: blur(13.800000190734863px);
    .container{
        display: flex;
        height: 100%;
        width: 100%;
        max-width: 1200px;
        justify-content: space-between;
        align-items: center;
    }
    .logo-container{
        overflow-y:hidden;
    }

    .actions-container{
        display: flex;
        justify-content: end;
        height: 100%;
        gap: 20px;
    }

    img{
        pointer-events: none;
    }
    nav{
        display: flex;
        height: 100%;
    }
}
.nav-link{
    display: flex;
    font-size: 12px;
    width: 70px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;


    &:hover{
        border-bottom: 1px solid var(--calcario);
    }
    &.active{
        border-top: 2px solid transparent;
        border-bottom: 2px solid var(--absinto);
        font-weight: 700;
        position: relative;
        &::after{
            content: '';
            width: 70px;
            height: 70px;
            position: absolute;
            background: radial-gradient(50% 44.78% at 50% 100%, rgba(221, 255, 0, 0.15) 0%, rgba(221, 255, 0, 0.00) 100%);
        }
    }
}

.search-input-container{
    display: flex;
    position: relative;
    padding: 15px;

    .search-input{
        border-bottom: 1px solid var(--calcario);
        &:focus{
            border-bottom: 1px solid var(--absinto);
            outline: none;
            & + label{
            font-size: 10px;
            top: 5px;
            left: 15px;
            transform: translateY(0px)
        }
        }
        &:not(:placeholder-shown) + label{
            font-size: 10px;
            top: 5px;
            left: 15px;
            transform: translateY(0px)
        }
    }
    label{
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        cursor: text;
        font-size: 12px;
        transition: all ease-in .1s;
    }
}

.user-menu{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 150px;
    font-size: 12px;
    background-color: var(--breu);
    border: 1px solid var(--calcario);
    border-radius: 3px;
    box-shadow: var(--sombra);
    top: 99%;
    *{
        display: flex;
        height: 40px;
        justify-content: center;
        align-items: center;
    }
    a{
        border-bottom: 1px solid color-mix(in oklab, var(--calcario) 40%, transparent);
        &:hover{
            background-color: color-mix(in oklab, var(--calcario) 10%, transparent);
        }
    }
    span{
        font-size: 14px;
        font-family: var(--font-spectral);
        font-weight: 700;
    }
    &-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        cursor: pointer;
    }
    &.open{
        display: flex;
    }
}

.notifications-menu{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 250px;
    font-size: 12px;
    background-color: var(--breu);
    border: 1px solid var(--calcario);
    border-radius: 3px;
    box-shadow: var(--sombra);
    top: 99%;
    padding: 10px 15px;
    gap: 10px;
    overflow-x: auto;
    max-height: 500px;
    .notification{
        display: flex;
        padding: 5px 0px;
        gap: 5px;
        align-self: stretch;
        border-bottom: 1px solid color-mix(in oklab, var(--calcario) 10%, transparent);
        &-icon{
            width: 30px;
            height: 30px;
        }
        &-content{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 5px;
            &-text{
                font-size: 12px;
                text-align: start;
            }
            &-date{
                font-size: 10px;
                opacity: 0.6;
                font-family: var(--font-spectral);
            }
        }
    }
    span{
        width: 100%;
        text-align: start;
        font-size: 14px;
        font-family: var(--font-spectral);
        font-weight: 700;
        padding-bottom: 10px;
        border-bottom: 1px solid color-mix(in oklab, var(--calcario) 40%, transparent);

    }
    &-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        cursor: pointer;
    }
    &.open{
        display: flex;
    }
}

.log-button{
    display: flex;
    height: 40px;
    padding: 0 20px;
    gap: 10px;
    color: var(--breu);
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
    background-color: var(--absinto);
    margin: auto 0;
    &:hover{
        box-shadow: var(--glow);
    }
}