/* CORES */

$calcario: #EFEADF;         //BRANCO
$absinto: #DDFF00;          //VERDE
$breu: #1C1C1C;             //PRETO

/* TIPOGRAFIA */

$sans: var(--font-wix), Arial, sans-serif;      //Wix Madefor Display
$serif: var(--font-spectral), Times, serif;     //Spectral

