.page-container{
    display: flex;
    flex-direction: column;

    padding: 2rem;
    padding-top: calc(70px + 2rem);
    max-width: calc(1200px - 4rem);
    margin: auto;
    
    gap: 20px;
    h3{
        font-family: var(--font-spectral);
    }
}

@media (max-width: 768px) {
    .page-container{
        padding: 1rem;
        padding-top: calc(70px + 2rem);
        max-width: calc(100vw - 2rem);
        margin: unset;
        
        gap: 20px;
        h3{
            font-family: var(--font-spectral);
        }
    }
}